<!DOCTYPE html>
<html lang="en">
<head>
  <!-- creds to www.w3schools.com (': -->
  <title>Hang Out</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/loginstyle.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body id="myPage" data-target=".navbar" data-offset="60">

<div class="jumbotron text-center">
  <h1>Hang Out</h1> 
  <p>Volunteer. Make friends. Repeat.</p> 
  {{ message }} <br> <br>
  <form action = "/authenticate/" method = "POST">
  <div class = "container">
  <div class = "grid">
  <div class = "row">
    <div class="col-md-4 col-md-offset-4 form-group">
      <input type="text" name = "email" placeholder="Email" class="form-control" required>
    </div> 
  </div>
  <div class = "row">
    <div class="col-md-4 col-md-offset-4 form-group">
      <input type="text" name = "user" placeholder="Username" class="form-control" required>
    </div>
  </div>
  <div class = "row">
    <div class="col-md-4 col-md-offset-4 form-group">
      <input type="password" name = "password" placeholder="Password" class="form-control" required>
    </div>
  </div>
  </div>
    <input type="submit" name= "account" class="btn btn-success" value = "Login">
    <input type="submit" name = "account" class="btn btn-success" value = "Register">
    </form>
  </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2><b>SERVICES</b></h2>
  <h4></h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>IMPACT THE ENVIRONMENT</h4>
      <p><font color = "#1ca4ee">Volunteer in local parks or gardens to plant trees and contribute to reducing carbon footprint.</font></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>FOSTER LOVE & COMPASSION</h4>
      <p><font color = "#1ca4ee">Go outside and volunteer with friends and family you love.</font></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>ACQUIRE A SENSE OF WORTH</h4>
      <p><font color = "#1ca4ee">Be more engaged in your community by helping with community service.</font></p>
    </div>
  </div>
</div>


</body>
</html>