<!DOCTYPE html>
<html lang="en">
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <head>
  <title>Notificatoions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <style>
 
    </style>


</head>
  
  <body>
  {% block content %}
  {% include 'navbar.html' %}
  {% endblock %}

  <br>
      
      
  <h1><center>Notifications</center></h1>
   <div class="container">
  <div class="row">

  <!-- ========================================================================--> 
  <!-- ======================================================= GENERATE NOTIFS -->
  <!-- ========================================================================--> 
    <div class="col-md-2 colored-containers"><br> 
      <div class = "text-center"><h4>Filter Events</h4></div>
    
  </div>
<!--
      {% for event in events %}
        {% for key, value in event.iteritems() %}
            <dt>{{ key }}</dt>
            <dd>{{ value }}</dd>
        {% endfor %}
      {% endfor %}
-->


</div><!-- /row -->
</div><!-- /container -->


  </body>
  
  
</html>
