<!DOCTYPE html>
<html lang="en">
<html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
  <head>
  <title>Notifications</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <style>
   .colored-containers{
    background-color: #ee9d84;
    border-radius: 5px;
  }
    </style>


</head>
  
  <body>
  {% block content %}
  {% include 'navbar.html' %}
  {% endblock %}

  <br>
      
      
  <h1><center>Notifications</center></h1>
   <div class="container-fluid">

  <!-- ========================================================================--> 
  <!-- ======================================================= GENERATE NOTIFS -->
  <!-- ========================================================================--> 
      {% for notif in notifs %}
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 colored-containers">
          <div class = "text-center">
            <h4>{{notif}}</h4>
          </div>
        </div>
        <div class="col-md-2"></div>
        </div>
      {% endfor %}

</div><!-- /container -->

  <!-- ========================================================================--> 
  <!-- ====================================================== GENERATE FRIENDS -->
  <!-- ========================================================================-->

    <h1><center>Recommended Friends</center></h1>
   <div class="container-fluid">

       {% for notif in notifs %}
        <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 colored-containers">
          <div class = "text-center">
            <h4>{{rfriends}}  </h4>
            <form action = "/addFriend/" method = "POST">
                <input type="submit" name= "add" class="btn btn-success" value = "Add Friend">
            </form>
          </div>
        </div>
        <div class="col-md-2"></div>
        </div>
      {% endfor %}
</div><!-- /container -->

  </body>
  
  
</html>
 
